PORT = 5000
DB_URL_LOCAL = mongodb://127.0.0.1:27017/Saraha
SALT_ROUND = 11
ENCRYPTION_KEY = 
TOKEN_SIGNATURE_User_ACCESS =  
TOKEN_SIGNATURE_Admin_ACCESS = 
TOKEN_SIGNATURE_User_REFRESH =  
TOKEN_SIGNATURE_Admin_REFRESH =  
GOOGLE_CLIENT_ID = 
EMAIL_USER=
EMAIL_PASS=
REDIS_URL=
